.countries {
    padding: 1em 2em;
    animation: onOpen 2s;
  }
 
@media (min-width: 700px) {
    .countries {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}

@keyframes onOpen {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.darkCountries {
    background-color: hsl(207, 26%, 17%) !important;
    color: hsl(0, 0%, 98%) !important  ; 
}