.header {
    background-color: white;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em;
    box-shadow: 0 0 0.4em 0 rgba(0, 0, 0, 0.1);
}

.header > h2 {
    font-weight: bolder;
    font-size: 1em;
}

.header > .buttonToggle {
    /* padding: 1em 2em; */
    font-size: .8em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}

button,
button:focus{
    outline: none;
}
