  .detailedCountry {
    padding: 1em 2em;
    line-height: 2.2em;
    font-size: 14px;  
    /* opacity: 0; */
    animation: onOpen 2s;
}

.detailedCountry >  button {
    margin: 2em 0;
    display: block;
}

.flag {
    margin: 3em 0;
}

.flag > img {
    width: 100%;
}

h1 {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.levelDomain {
    margin-top: 2em;
}

.btn-primary {
    background-color: white;
    padding: 0.8em 3em;
    border-radius: 1px;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.05);
    border: none;
    transition: transform 250ms ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.05);
    cursor: pointer;
}

.btn-secondary {
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.05);
    border: none;
    transition: transform 250ms ease-in-out;
    margin: 0.2em;
}

.btn-secondary:hover,
.btn-secondary:focus {
    transform: scale(1.05);
    cursor: pointer;
}

.borderCountries {
    margin-top: 2em;
}

.borderCountries__borders {
    display: flex;
    margin-top: 0.8em;
    flex-wrap: wrap;
}

.borderCountries__borders > button {
    padding: 0.7em 1.5em;
}

@keyframes onOpen {
    from {opacity: 0;}
    to {opacity: 100%;}
}


@media (min-width: 700px) {
    .detailedCountry {
        display: flex; 
        justify-content: center;
        align-items: center;
        position: relative;
        height: 90vh;
    }

    h1 {
        font-size: 2em;
    }
    
    .flag {
        margin-right: 5em;
        max-width: 400px;
    }
     
                       

    .btn-primary {
        position: absolute;
        top: 10px; 
        left: 220px;
    }
}

@media (min-width: 850px) {
      .flag {
          max-width: 600px; 
      }
}
