.filters {
    padding: 1.5em 1em;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    
}

.filters__country {
    background-color: white;
    padding: 1em 2em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.05);

}

.filters__country > .fa-search{
    color: hsl(0, 0%, 52%);
}

.filters__country > input {
    outline: none;
    border: none;
    width: 90%;
    margin-left: 1em;
}

.filters__region {
    align-self: flex-start;
    margin-top: 1em;
    background-color: white;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.05);
}

.filters__region > select {
    outline: none;
    border: none;
}

@media (min-width: 700px) {
    .filters{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .filters__country {
        max-width: 35%;
    }
    
    .filters__region {
        margin-top: 0;
    }
}
