.filters {
    padding: 1.5em 1em;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    animation: onOpen 2s;

    
}

.country {
    background-color: white;
    padding: 1em 2em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.05);

}

.country > .fa-search{
    color: hsl(0, 0%, 52%);
}

.country > input {
    outline: none;
    border: none;
    width: 90%;
    margin-left: 1em;
}

.region {
    align-self: flex-start;
    margin-top: 1em;
    background-color: white;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.05);
}

.region > select {
    outline: none;
    border: none;
}

.region > select > option {
    padding: 2em;
}

.country:hover,
.country:focus,
.region:hover,
.region:focus {
    transform: scale(1.01);
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.09);
}

@media (min-width: 700px) {
    .filters{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .country {
        max-width: 35%;
    }
    
    .region {
        margin-top: 0;
    }
}

.dark,
.dark > input,
.dark > select {
    background-color: hsl(209, 23%, 22%) !important;
    color: hsl(0, 0%, 98%) !important;
}

.dark > input::placeholder {
    color: hsl(0, 0%, 98%) !important;
}

.darkFilters {
    background-color: hsl(207, 26%, 17%) !important;
}

@keyframes onOpen {
    from {opacity: 0;}
    to {opacity: 100%;}
}